.footer{
    background: var(--color-header);
    height: 180px;
    width: auto;
    
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li{
        font-family: var(--font-primary);
        color: var(--color-text);
        font-size: 3.2rem;
        list-style: none;
    }
}