.footer{
    background: var(--color-header);
    height: 180px;
    width: auto;
    
    .wrapper{
        display: inline-flex;
        justify-content: space-between;
        padding-left: 73px;
        padding-right: 73px;
    }

    li{
        text-align: center;
        font-family: var(--font-primary);
        color: var(--color-text);
        font-size: 3.2rem;
        list-style: none;
    }

    a:hover{
        text-decoration: underline;
    }

    h1{
        line-height: 180px;
        text-align: center;
        font-family: var(--font-primary);
        color: var(--color-logo);
        font-size: 6.4rem;
        filter: drop-shadow(-5px 5px black)
    }

    h2{
        line-height: 180px;
        text-align: center;
        font-family: var(--font-primary);
        color: var(--color-text);
        font-size: 3.6rem;
    }

    .icons{
        text-align: center;
        width: 100%;
        justify-content: space-between;
    }
    img{
        position: relative;
        padding-right: 50px;
        top: 30px;
        left: 20px;
    }
}