/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    //Couleur de fond
    --color-body: #000000;
    --color-header: #262626;
    --color-footer: #262626;

    //Couleur de texte
    --color-text: #bfbfbf;

    //Button hover
    --color-hover: #8C8C8C;

    //Couleur logo
    --color-logo: #FFFFFF;

    --color-search: #D9D9D9;
}
